<%- include("../partials/head.ejs") %>
<body>
  <%- include("../partials/navbar.ejs") %>
  <h1>Let's get you started by creating a new account</h1>
  <form action="/user/new" method="POST">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" placeholder="Enter first name here">
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName" placeholder="Enter last name here">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Your email here">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Password goes here">
    <input type="submit" value="Sign up">
  </form>
</body>
</html>
