<nav>
  <h2 class="logo">JATS</h2>
  <ul class="nav-links">
    <li><a href="" class="navlink">Dashboard</a></li>
    <li><a href="" class="navlink">Applications</a></li>
    <li><a href="" class="navlink">Job Board</a></li>
  </ul>
</nav>
