<%- include("./partials/head.ejs") %>

  <body>
    <main class="dashboard-container">
      <%- include("./partials/sidebar.ejs") %>
        <div class="user-content-container">
          <h1>Welcome back, <%= user.firstName %></h1>
        </div>
    </main>
  </body>

  </html>
