@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, -apple-system, sans-serif;
  background-color: #101010;
  color: #fafafa;
}

/* NAV */

nav {
  display: flex;
  width: 100%;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  padding: 0 158px;
  position: absolute;
}

.nav-brand {
  color: #fafafa;
  text-decoration: none;
}

.nav-brand h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
  font-size: 32px;
}

.nav-btns button {
  color: #fafafa;
  border: 1px solid #727272;
  border-radius: 20px;
  background-color: transparent;
  padding: 10px 12px;
}

.nav-btns button:hover {
  cursor: pointer;
  border: transparent;
  background: rgb(26, 92, 43);
  background: linear-gradient(120deg, rgb(30, 105, 49) 20%, rgba(53, 184, 60, 1) 100%);
}

/* NAV SIDEBAR */

.dashboard-container {
  display: flex;
  color: #fafafa;
}

/* This is backwards since it's adapting styles from the nav */
.nav-sidebar {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-right: 1px solid #565656;
  border-radius: 10px;
  padding: 20px 0 0 60px;
  margin-right: 50px;
  position: unset;
  width: 300px;
  height: 100vh;
}

h2.sidebar-logo {
  font-size: 30px;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 6px 15px;
  margin-left: 8px;
}

.sidebar-logo a {
  color: #070707;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
}

.nav-links {
  list-style: none;
  padding: 0;
}

.nav-links li {
  padding-bottom: 35px;
}

.nav-link {
  color: #fafafa;
  text-decoration: none;
  padding: 8px;
}

.nav-link:hover {
  background-color: #1d1d1d;
  border-radius: 4px;
}

.sign-out-btn button {
  color: #fafafa;
  background-color: transparent;
  border: none;
  padding: 5px;
  margin-left: 8px;
}

.sign-out-btn button:hover {
  cursor: pointer;
  border: 1px solid #727272;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  nav {
    padding: 0 50px;
  }

  .nav-sidebar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: absolute;
  }

  .nav-links {
    display: flex;
    align-items: center;
  }

  .nav-links li {
    padding: 0;
    font-size: 14px;
  }
}

/* HERO */

.hero {
  display: flex;
  align-items: center;
  color: #ececec;
  font-size: 2.5rem;
  height: 650px;
  padding: 0 150px;
  padding-top: 100px;
  gap: 100px;
}

.hero div:last-child {
  width: 100%;
  height: 500px;
  background-color: #e2e2e2;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-title span {
  display: block;
}

.hero-title span:last-child {
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* SIGN-IN */

.sign-in-form,
.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
  font-size: 74px;
}

.box {
  position: relative;
  top: 137px;
  left: 22px;
  z-index: -1;
  background-color: #333;
  padding: 55px;
}

.sign-in-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #727272;
  border-radius: 2px;
  padding: 20px;
  width: 300px;
  height: 300px;
  gap: 15px;
}

input {
  padding: 10px;
  font-weight: 600;
}

input[type="submit"]:hover {
  cursor: pointer;
}

/* SIGN UP */

.sign-up-form {
  padding-top: 100px;
  margin-bottom: 60px;
}

.sign-up-form h1 {
  text-align: center;
}

.sign-up-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* APPLICATIONS */

.user-content-container {
  margin-top: 22px;
  width: 100%;
  padding: 0 130px 40px 80px;
}

.user-content-container h1 {
  margin-bottom: 53px;
}

.application-list-container {
  width: 100%;
  border: 1px solid #3B4358;
  border-radius: 7px;
  background-color: #18191C;
}

.application-table {
  width: 100%;
}

tr, td {
  border-right: 1px solid #3B4358;
  padding-left: 10px;
}

.table-heading {
  font-weight: 400;
  font-size: 15px;
  text-align: start;
  padding: 9px;
  border-right: 1px solid #3B4358;
  border-bottom: 1px solid #3B4358;
}

.table-heading-view {
  border-right: none;
  border-bottom: 1px solid #3B4358;
}

.table-heading-delete {
  border-right: none;
  border-bottom: 1px solid #3B4358;
}

.view-link {
  text-align: center;
  padding: 0;
}

.view-link button {
  background-color: transparent;
  border: none;
  color: #75b5f5;
  text-decoration: none;
  font-size: 16px;
}

.view-link button:hover {
  cursor: pointer;
  transition: 0.8s;
  transform: scale(1.1);
}

.application-entry td:last-child {
  text-align: center;
  border-right: none;
}

.application-entry td:last-child button {
  font-size: 15.4px;
  color: #75b5f5;
  background-color: transparent;
  border: none;
}

.application-entry td:last-child button:hover {
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.1);
}

textarea {
  white-space: pre;
}

@media (max-width: 1000px) {
  .user-content-container {
    padding: 100px 20px;
  }
}
